<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <service name = "MessageBusPatterns.PubSub.Server.SubscriptionService">
        <endpoint
            address  = "net.tcp://localhost:8101/SubscriptionService"
            binding  = "netTcpBinding"
            contract = "MessageBusPatterns.PubSub.Shared.ISubscriptionService">
        </endpoint>
      </service>
      <service name = "MessageBusPatterns.PubSub.Server.PublishingService">
        <endpoint
            address  = "net.tcp://localhost:8102/PublishingService"
            binding  = "netTcpBinding"
            contract = "MessageBusPatterns.PubSub.Shared.IPublishingService">
        </endpoint>  
      </service>
    </services>
  </system.serviceModel>
</configuration>